<% if (post && index){ %>
	<li class="list-group-item title">
	    <a  href="<%- url_for(post.path)%>"><%= post.title%></a>
	</li>
<% } else { %>
<%- post.content %>
<% } %>

<script>
  //copy from http://tianma.space/post/2208308547/index.html

  $(document).ready(function() {
    wrapImageWithFancyBox();
  });

 /**
 * Wrap images with fancybox support.
 */
 function wrapImageWithFancyBox() {
     $('img').not('.sidebar-image img').not('#author-avatar img').not(".mdl-menu img").each(function() {
 
         var $image = $(this);
         var imageCaption = $image.attr('alt');
         var $imageWrapLink = $image.parent('a');
 
         if ($imageWrapLink.size() < 1) {
             var src = this.getAttribute('src');
             var idx = src.lastIndexOf('?');
             if (idx != -1) {
                 src = src.substring(0, idx);
             }
             $imageWrapLink = $image.wrap('<a href="' + src + '"></a>').parent('a');
         }
 
         $imageWrapLink.attr('data-fancybox', 'images');
         if (imageCaption) {
             $imageWrapLink.attr('data-caption', imageCaption);
         }
 
     });
 
     $().fancybox({
         selector : '[data-fancybox="images"]',
         hash : false,
         loop : false,
         
     });
 }
</script>

<% if (!index && config.git_owner){ %>
    <div id="container"></div>
    <script>
    var gitment = new Gitment({

      owner: '<%= config.git_owner %>',
      repo: '<%= config.git_comment_repo %>',
      oauth: {
        client_id: '<%= config.git_client_id %>',
        client_secret: '<%= config.git_client_secret %>',
      },
    })
    gitment.render('container')
    </script>
<% } %>
